<div class="container-fluid">
  <div class="row text-light bg-dark">
    <app-header></app-header>
  </div>
  <div class="row">
    <app-navigation class="w-100"></app-navigation>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6 bg-secondary m-2 p-2">
      <app-main></app-main>
    </div>
    <div class="col-md-4 bg-info m-2 p-2 text-center">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row text-light bg-dark">
    <app-footer></app-footer>
  </div>
</div>